<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>
<Ion-item>
  <ion-icon name="calendar" slot="start"></ion-icon>
  <Ion-input placeholder="Procure por um evento"></Ion-input>
  <ion-icon name="arrow-forward" slot="end"></ion-icon>
</Ion-item>

<ion-content>


  <ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size='auto'>
      <ion-avatar>
      
        <img src="https://randomuser.me/api/portraits/women/30.jpg" />
      
      </ion-avatar>
    </ion-col>
      <ion-col>
      <ion-card-title>Miranda Dias</ion-card-title>
      <ion-card-subtitle>Sexta Feira - 15/12/2020</ion-card-subtitle>
      <ion-card-title>Campeonato de League of Legends</ion-card-title>
    </ion-col>
    </ion-row>
    </ion-card-header>
    <ion-card-content>
      <strong>       Monte seu time e se participe do campeonato online que irá acontecer durante o próximo mês! </strong>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size='auto'>
      <ion-avatar>
      
        <img src="https://randomuser.me/api/portraits/women/77.jpg" />
      
      </ion-avatar>
    </ion-col>
      <ion-col>
      <ion-card-title>Ana Lins </ion-card-title>
      <ion-card-subtitle>Sexta Feira - 05/12/2020</ion-card-subtitle>
      <ion-card-title>Campeonato Smash Bros / Kids</ion-card-title>
    </ion-col>
    </ion-row>
    </ion-card-header>
    <ion-card-content>
      <strong>       Participe do campeonato online que irá acontecer semana que vem! </strong>
    </ion-card-content>
  </ion-card>
</ion-content>