<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <Ion-item>
    <ion-icon name="search" slot="start"></ion-icon>
    <Ion-input placeholder="Procure por um evento"></Ion-input>
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </Ion-item> 


  <ion-card>
    <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
    <ion-row class="ion-align-itens-center">
      <ion-col>
    <ion-card-header>
      <ion-card-subtitle>Sexta Feira - 13/11/2020</ion-card-subtitle>
      <ion-card-title>Campeonato de League of Legends</ion-card-title>
    </ion-card-header>
  </ion-col>
    <ion-col>
      <ion-row>
    <ion-avatar class="daily-scenary-avatar">
      <img src="https://randomuser.me/api/portraits/women/89.jpg" alt="">
    </ion-avatar>
    <ion-avatar class="daily-scenary-avatar">
      <img src="https://randomuser.me/api/portraits/men/25.jpg" alt="">
    </ion-avatar>
    <ion-avatar class="daily-scenary-avatar">
      <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="">
    </ion-avatar>
      </ion-row>
  </ion-col>
    </ion-row>  
    <ion-card-content>
      Monte seu time e se inscreva no campeonato online que irá acontecer durante o próximo mês!
    </ion-card-content>
  </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>