<ion-header>
  <ion-toolbar color="primary">
    <ion-title>iBooze</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item *ngFor="let c of contacts">
  <ion-avatar slot="start">
    <img [src]="'https://github.com/'+c.username+'.png'" alt="">
  </ion-avatar>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
  <h2>{{c.name}}</h2>
  {{c.text}}
</ion-col>
</ion-row>
</ion-card-header>
</ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/create">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
