<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Poste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-contact-form [contact]="emptyContact" (save)="handleSave()"></app-contact-form>

<ion-button routerLink="/tabs/home" expand="block" (click)="this.save.emit()">
  <ion-icon slot="start" name="add"></ion-icon>
  Enviar
</ion-button>
<ion-button routerLink="/tabs/home" expand="block">
  Cancelar

</ion-button>
</ion-content>
