<ion-header>
  <ion-toolbar color="primary">

    <ion-title>iBooze</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h1>
  <ion-title>
  Faça seu login!
</ion-title>
</h1>
<h1>
<ion-item>
  <ion-label>Login</ion-label>

  <ion-input type="Login"></ion-input>
  </ion-item>
</h1>
<h1>
  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  </h1>
</ion-content>
<ion-button routerLink="/cadastro" expand="block">Cadastro</ion-button>
<ion-button routerLink="/tabs/home" expand="block">Entrar</ion-button>


