<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Amigues</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <ion-card>
    <iom-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></ion-avatar>
        </ion-col>
      <ion-col>
    <ion-card-title>Links </ion-card-title>
  </ion-col>
  </ion-row>
  </iom-card-header>
  </ion-card>

  <ion-content>
    <ion-card>
      <iom-card-header>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar><img src="https://randomuser.me/api/portraits/women/30.jpg" alt=""></ion-avatar>
          </ion-col>
        <ion-col>
      <ion-card-title>Miranda Dias</ion-card-title>
    </ion-col>
    </ion-row>
    </iom-card-header>
    </ion-card>

    <ion-content>
      <ion-card>
        <iom-card-header>
          <ion-row>
            <ion-col size="auto">
              <ion-avatar><img src="https://randomuser.me/api/portraits/women/80.jpg" alt=""></ion-avatar>
            </ion-col>
          <ion-col>
        <ion-card-title>Carol G.</ion-card-title>
      </ion-col>
      </ion-row>
      </iom-card-header>
      </ion-card>

      <ion-content>
        <ion-card>
          <iom-card-header>
            <ion-row>
              <ion-col size="auto">
                <ion-avatar><img src="https://randomuser.me/api/portraits/women/47.jpg" alt=""></ion-avatar>
              </ion-col>
            <ion-col>
          <ion-card-title>Mizu</ion-card-title>
        </ion-col>
        </ion-row>
        </iom-card-header>
        </ion-card>


        <ion-content>
          <ion-card>
            <iom-card-header>
              <ion-row>
                <ion-col size="auto">
                  <ion-avatar><img src="https://randomuser.me/api/portraits/women/77.jpg" alt=""></ion-avatar>
                </ion-col>
              <ion-col>
            <ion-card-title>Ana Lins</ion-card-title>
          </ion-col>
          </ion-row>
          </iom-card-header>
          </ion-card>
</ion-content>